<% provide(:title, "Contact")%>
<h1>Sample App</h1>
<p>
  If you require to any further information or if you have any queries you may reach out to me on github
  <a href="https://sundars-portfolio.herokuapp.com">Sundars portfolio</a>
</p>
