<h1>Help</h1>
<p>
  You can get help for this app at
  <a href="https://www.railstutorial.org/help">Rails Tutorial help page</a>.
  To look at the code for this sample app, see
  <a href="https://github.com/sundars04/sample_app"><em>Sample-App</em> @ github</a>
</p>
